
root = true
[*]
charset = utf-8
end_of_line = lf

indent_size = 2

indent_style = space

insert_final_newline = true #set row of blank lines at the end of code

trim_trailing_whitespace = true #remove the space after code